@model FillPizzaShop.Models.UserModel

<form method="post">
   
        <input asp-for="Name" class="form-control" type="text" placeholder="Ім'я'" />
        <input asp-for="Phone" class="form-control" type="text" placeholder="Номер телефону" />
        <input asp-for="Address" class="form-control" type="text" placeholder="Адреса" />
    

    <button type="submit" class="btn btn-primary">Замовити</button>
</form>

